.title {
  display: flex;
  justify-content: center;
  font-size: 2.8vw;
  color: orange;
}
.everything {
  display: flex;
  justify-content: center;
}
body {
  background-image: url("img/background-image.jpg");
  background-size: cover;
}
.def-div {
  display: inline-block;
  border-color: rgba(55, 50, 58, 0.733);
  border-width: 0.3vw;
  border-style: solid;
  border-radius: 0.6vw;
  background-color: rgba(55, 50, 58, 0.733);
  width: 21vw;
  position: absolute;
  left: 0;
  z-index: 100;
}
.def-h {
  color: white;
  margin-top: 0;
  padding-top: 1vw;
  font-size: 1.3vw;
}
.def {
  color: white;
  font-size: 1vw;
  padding: 0.05vw;
}
.origin-div {
  position: absolute;
  right: 0;
  border-color: rgba(55, 50, 58, 0.733);
  border-width: 0.3vw;
  border-style: solid;
  border-radius: 0.6vw;
  background-color: rgba(55, 50, 58, 0.733);
  width: 21vw;
}
.origin-h {
  color: white;
  padding-top: 0.05vw;
  font-size: 1.3vw;
}
.origin {
  color: white;
  font-size: 0.9vw;
  padding: 0.05vw;
}
.M87 {
  width: 12vw;
  vertical-align: middle;
}
.Sag {
  width: 8vw;
  vertical-align: middle;
}
.sim {
  height: 5vw;
  width: 5vw;
  vertical-align: middle;
  border-radius: 100vw;
  object-fit: cover;
}
.sim-div,
.M87-div {
  display: block;
}
.Sag-div {
  display: inline-block;
  margin-top: 2vw;
  margin-left: 26vw;
}
.M87-div {
  margin-left: 36vw;
}
.sim-div {
  margin-top: 2.3vw;
  margin-left: 22.5vw;
}
.inter {
  width: 24vw;
  height: 38vw;
  position: absolute;
  right: 21.4vw;
  background-color: rgba(240, 248, 255, 0);
  border: none;
  cursor: pointer;
}
.source-div {
  position: absolute;
  bottom: 0;
}
.most-holes-div {
  position: absolute;
  left: 0;
}
.source-h {
  color: white;
  font-size: 0.9vw;
}
.img-div {
  width: 15vw;
  height: 3vw;
}
.img-1 {
  width: 2.5vw;
  display: block;
}
.img-1-div {
  display: inline-block;
}
.img-2 {
  width: 2.5vw;
  display: block;
}
.img-2-div {
  display: inline-block;
}
.img-3 {
  width: 2.5vw;
  display: block;
  border-radius: 100vw;
}
.img-3-div {
  display: inline-block;
}
