/*Handy Scaling*/
@media (max-width: 700px) {
  body {
    background-image: url("img/background-image-phone.jpg");
  }
  .title {
    font-size: 9vw;
  }
  ul,
  ol {
    margin-left: 5vw;
  }
  .def-div {
    width: 24vw;
  }
  .inter {
    width: 35vw;
    height: 70vw;
    position: absolute;
    top: 90vw;
    right: 0;
  }
  .everything {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5vw;
  }
  .def-div {
    position: static;
    width: 60vw;
    border-width: 0.6vw;
    border-radius: 1vw;
  }
  .origin-div {
    position: static;
    z-index: 100;
    width: 60vw;
    border-width: 0.6vw;
    border-radius: 1vw;
  }
  .flex {
    display: flex;
    justify-content: left;
  }
  .origin-h,
  .def-h {
    font-size: 4.8vw;
  }
  .origin,
  .def {
    font-size: 2.1vw;
  }
  .source-h {
    font-size: 3.3vw;
  }
  .img-div {
    width: 30vw;
    height: 12vw;
  }
  .img-1,
  .img-2,
  .img-3 {
    width: 9vw;
  }
  .M87 {
    width: 22vw;
  }
  .Sag {
    width: 16vw;
  }
  .sim {
    height: 10vw;
    width: 10vw;
  }
  .most-holes-div {
    right: 1vw;
    height: 50vw;
    top: 35vw;
  }
}
/*Tablet Styling*/
@media (min-width: 701px) and (max-width: 950px) {
}
/*Kleine Desktops*/
@media (min-width: 951px) and (max-width: 1300px) {
}
/*Desktops*/
@media (min-width: 1301px) and (max-width: 1720px) {
}
