.header {
  position: fixed, relative;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  background-color: rgba(37, 37, 37, 0.6);
  border-radius: 100px;
  border: 0.3vw solid rgba(37, 37, 37, 0.8);
  padding-left: 1vw;
}
.about-me,
.changelogs,
.projects {
  color: rgb(207, 204, 204);
  text-decoration: underline transparent;
  transition: text-decoration 0.25s;
  cursor: pointer;
  font-size: 0.9vw;
}

.changelogs-div {
  margin-left: 1.8vw;
}
.projects-div {
  position: absolute;
  right: 1.5vw;
}
.about-me:hover,
.changelogs:hover,
.projects:hover {
  text-decoration: underline;
}
