.title-div {
  display: flex;
  justify-content: center;
}
.title {
  color: white;
  font-weight: bold;
  font-size: 90px;
  font-family: Ndot;
}
.project-example {
  width: 600px;
  display: flex;
  flex-direction: column;
  background-color: rgba(64, 64, 64, 0.6);
  border: 5px solid rgba(64, 64, 64, 0.9);
  border-radius: 10px;
  cursor: pointer;
}
.project-img-div {
  width: 600px;
}
.project-img {
  width: 100%;
}
.examples {
  display: flex;
  justify-content: center;
}
.project-description-div {
  width: 600px;
  display: flex;
  justify-content: center;
}
.project-description {
  text-align: center;
  font-size: 18px;
}
.project-title {
  font-size: 20px;
  font-weight: bold;
}
.project-title-div {
  width: 600px;
  display: flex;
  justify-content: center;
}
